language: python
python:
  - "2.7"
install: 
  - pip install webtest coverage python-coveralls
before_script:
  - wget https://storage.googleapis.com/appengine-sdks/featured/google_appengine_1.9.35.zip -nv
  - unzip -q google_appengine_1.9.35.zip
# command to run tests
script: coverage run test_runner.py google_appengine .
after_success:
  - coveralls